/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #901C1C;
  --color-secondary: #D3573c;
  --color-tertiary: #DB8876;
  --color-quaternary: #525252;
  --color-quinternary: #fafafa;
  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
a:visited {
  color: var(--color-primary);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_card, .photographer_card a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_card h2 {
  color: var(--color-secondary);
  font-size: 2rem;
  margin: 4px;
}

.photographer_card img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  margin: 30px;
  transition: transform 300ms ease;
}

.photographer_card a:hover img, .photographer_card a:focus img {
  transform: translateY(-10px);
}

.photographer_card p {
  display: flex;
  flex-flow: column nowrap;
}
.photographer_card p span {
  text-align: center;
  font-size: 0.7rem;
  margin: 3px;
}
.photographer_card p span:nth-child(1) {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 4px;
}
.photographer_card p span:nth-child(2) {
  color: #000;
}
.photographer_card p span:nth-child(3) {
  color: var(--color-quaternary);
}

h1 {
  font-size: 2rem;
  color: var(--color-primary);
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
}