//Photographer page styles//

// Variables, Mixins & Keyframes //
@import "./abstracts/variables";

// Bases //
@import "./base/reset";
@import "./base/general";

// Components //
@import "./components/photograph-header";

// Layouts //
@import "./layouts/lightbox";
@import "./layouts/modal";

body{
    position: relative;
}

main{
    margin-bottom: 100px;
}

.photographer_header {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photo_sort {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px 100px;
}

.sort-by {
    background-color: #901C1C;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 1.2rem;
}

.photos_section{

    display: grid;
    grid-template-columns: repeat(auto-fill, 25vw);
    justify-content: space-between;
    margin: 0 100px;
}

.photo_card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FAFAFA;
    margin: 30px 0;
    height: 25vw;
    width: 25vw;
    color: #901C1C;

    & img{
        height: 25vw;
        width: 25vw;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    & video{
        height: 25vw;
        width: 25vw;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    & p{
        display: flex;
        margin: 10px 0;
        font-size: 1.2em;
        width: 100%;
        justify-content: space-between;
    }


}


.price_section{

    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 300px;
    flex-wrap: nowrap;
    background-color: #DB8876;
    font-size: 1.4em;
    font-weight: bold;
    padding: 20px;
    bottom: 0;
    right: 40px;
    border-radius: 10px 10px 0 0;
}

.price{
    font-weight: bold;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
