// Home page styles//

// Variables, Mixins & Keyframes //
@import "./abstracts/variables";

// Bases //
@import "./base/reset";
@import "./base/general";

// Components //
@import "./components/photographer_card";


h1 {
    font-size: 2em;
    color: $color-primary;
    margin-right: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}


