h1 {
    font-size: $font-size-big;
    color: var(--color-primary);
    margin-right: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}
