.photographer_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer_card h2 {
    color: var(--color-secondary);
    font-size: $font-size-verybig;
    margin: 10px;
}

.photographer_card img {
    @include object-fit(200px, 100px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);;
    margin: 40px;
}

.photographer_card p{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 20px;

    & span{
        text-align: center;
        margin: 10px;
    }

    & span:nth-of-type(1){
        color: var(--color-primary);
        font-size: $font-size-mediumbig;
    }
    & span:nth-of-type(2){
        color: var(--color-quaternary);
        font-size: $font-size-normal;
    }
    
    & span:nth-of-type(3){
        color: var(--color-quaternary);
    }
}

.contact_button {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-white);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        color: black;
        background-color: var(--color-tertiary);
    }
}