.photo_sort {
    display: flex;
    align-items: center;
    font-size: $font-size-medium;
    margin: 10px 100px;
}

.sort-section{
    position: relative;
    margin: 0 5px;
}

.sort-by_arrow{
    position: absolute;
    color: white;
    top: 17px;
    right: 10px;
    font-size: $font-size-medium;
    z-index: 4;
    transition: transform 200ms ease;
}

.sort-by {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    font-size: $font-size-medium;
    width: 180px;
    text-align:left;

    & + ul{
        display:none;
        position: absolute;
        background-color: var(--color-primary);
        padding: 0 20px;
        width: 180px;
        top:0px;
        left:0;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.5);

       & li:nth-child(2){
            border-top: 1px white solid;
            border-bottom: 1px white solid;
        }
    }
    &_list{
        display: inline-block;
        color: var(--color-white);
        padding: 15px 0px;
        width: 100%;
        justify-content: left;

        &:visited{
            color: var(--color-white);
        }
    }
}

.sort-by[aria-expanded="true"]  + ul {
    display:block;
    
    & + .sort-by_arrow{
        transform: rotate(180deg);
    }
}
