#contact_modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 50px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    z-index: 2;
}

.modal_bground{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
  }

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 140px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin: 10px 0 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;

    &:not(:focus):invalid{
        border: 3px #901C1C solid;
    }
}


form textarea {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    &:invalid{
        border: 3px #901C1C solid;
    }
}