#contact_modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: auto;
}

.modal {
    position: absolute;
    top: 50px;
    border-radius: 5px;
    background-color: var(--color-tertiary);
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    z-index: 2;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, .2);
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 140px;
}

.close_modal {
    cursor: pointer;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: $font-size-big;
    margin: 10px 0 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.text-control{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: $font-size-mediumbig;
    margin-bottom: 10px ;
}

form input {
    height: 68px;
}


form textarea {
    height: 180px;
}


form .invalid-form-text{
    display: none;
}

.invalid-input{
    border: 3px var(--color-primary) solid;

    & + .invalid-form-text{
        display: inline;
        font-size: $font-size-normal;
        line-height: 0rem;
        color:var(--color-primary);
    } 
}

.valid-message{
    display: none;
    font-size: $font-size-big;
    margin: 20px;
}
