//Variables//

// Colors //
$color-primary: #901C1C;
$color-secondary: #D3573c;
$color-tertiary: #DB8876;
$color-quaternary: #525252;
$color-quinternary: #fafafa;

$color-white: #fff;
$color-black: #000;

// Font Size //

$font-size-default: 18px;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-mediumbig: 1.5rem;
$font-size-big: 2rem;
$font-size-verybig: 3rem;
$font-size-small: 0.7rem;